/*********************************************************************************
*  Layout
*  Mainを定義
**********************************************************************************/

@use '../global/' as *;

.l-main {
  width: min(2000px, 100%);
  margin: 0 auto;
  overflow: hidden;
}
